.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.service-container p {
    font-size: 1rem;
    text-align: center;
}

.service-container #intro-text {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin: 4rem 10rem 0;
}

.service-container h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 4rem 10rem 0 10rem;
    white-space: nowrap;
}

.service-info-card-container {
    margin: 4rem 0 2rem;
    display: flex;
    justify-content: space-around;
    color: var(--secondary-font-color);
    width: 80%;
    gap: 2rem;
}

@media screen and (max-width: 1300px) {
    .service-info-card-container {
        flex-direction: column;
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .service-info-card-container {
        width: 90%;
    }
}
