.footer {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    gap: 2rem;
}

.footer p {
    justify-self: center;
    align-self: center;
    font-size: 1rem;
}

.top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.top h1 {
    font-size: 2rem;
    font-weight: 700;
}

.top p {
    font-size: 1rem;
}

.top i {
    font-size: 2rem;
    margin: 0 0.5rem;
    padding: 0 1px;
    border-radius: 6px;
}

.top i:hover {
    color: var(--secondary-font-color);
    background-color: var(--primary-font-color);
}

.bottom {
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.bottom div {
    display: flex;
    flex-direction: column;
}

.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 0.5rem 0;
    font-weight: 600;
}

.bottom a {
    padding-bottom: 0.2rem;
    font-size: 1rem;
}

.bottom a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem;
    }

    .top h1 {
        font-size: 1.8rem;
    }

    .top p {
        font-size: 0.9rem;
    }

    .top i {
        font-size: 1.8rem;
    }

    .bottom h4 {
        font-size: 1.2rem;
    }

    .bottom a {
        font-size: 0.9rem;
    }

    .bottom .last {
        width: 100%;
    }

    .bottom div {
        width: 50%;
    }

    .footer p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .top h1 {
        font-size: 1.5rem;
    }

    .top p {
        font-size: 0.8rem;
    }

    .top i {
        font-size: 1.5rem;
    }

    .bottom h4 {
        font-size: 1rem;
    }

    .bottom a {
        font-size: 0.8rem;
    }

    .bottom div {
        width: 100%;
    }

    .footer p {
        font-size: 0.7rem;
        text-align: center;
    }
}
