.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.info-container:first-child {
    margin-top: 4rem;
}

.info-content .button {
    display: none;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
}

@media screen and (max-width: 1450px) {
    .team {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team>* {
        flex: 1 1 calc(50% - 2rem);
        margin-bottom: 5rem;
    }
}


@media screen and (max-width: 850px) {
    .about-container {
        gap: 0;
    }

    .info-container {
        margin: 0 2rem;
    }

    .team {
        flex-direction: column;
        width: 100%;
    }

    .team>* {
        margin-bottom: 5rem;
    }
}