:root {
    --primary-font-color: #fff;
    --secondary-font-color: #222;

    --primary-color: #F57B2C;
    --secondary-color: #0C3622;
    --tertiary-color: #5FB236;
    --quaternary-color: #FEF8E5;
    --quinary-color: #EB2027;

    --rgb-primary-color: 2, 64, 89;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--quaternary-color);
}



